@import './components/Header/header.scss';
@import './components/Content/content.scss';
@import './components/Footer/footer.scss';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
}

.movieCard {
    width: 300px;
}

.movieInfo {
    background-color: rgb(82, 0, 75);
}
